@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:&display=swap");

@import "../../styles/responsive/breakpoints.scss";

//font-family: 'Quicksand', sans-serif;
//font-family: "Alata", sans-serif;

.Landing {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	// justify-content: space-around;

	.text {
		display: flex;
		flex-direction: column;
		margin-left: 15em;

		@include screenxl {
			margin-left: 8em;
		}

		h1 {
			font-size: 40px;
			font-family: "Alata", sans-serif;
			background: linear-gradient(to right, #ffd662, #f9e09c);
			background-clip: text;
			-webkit-text-fill-color: transparent;

			@include screenxl {
				font-size: 25px;
			}
		}
		p {
			font-family: "Quicksand", sans-serif;
			font-size: 25px;
			color: #fff5d9;
			width: 50%;

			@include screenxl {
				font-size: 18px;
			}
		}
		button {
			width: 200px;
			height: 80px;
			color: #1c4e7b;
			font-size: 30px;
			font-family: "alata", sans-serif;
			border: none;
			background: linear-gradient(to right, #fff6de, #ffd662);
			border-radius: 500px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

			@include screenxl {
				width: 180px;
				height: 60px;
				font-size: 20px;
			}
		}
	}

	.phone {
		width: 50%;
	}
	.background-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -200;
		object-fit: cover;
	}
}
