@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:&display=swap");
@import "../../styles/responsive/breakpoints.scss";

//font-family: 'Quicksand', sans-serif;
//font-family: "Alata", sans-serif;

.champ-details {
	z-index: 5;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 85%;
	min-height: 85%;
	max-height: 95%;
	transform: translate(-50%, -50%);
	background: linear-gradient(#1c4e7b, #0e273e);
	display: flex;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

	@include screenxl {
		min-height: 90%;
		max-height: 98%;
	}

	span {
		color: rgb(218, 218, 218);
		margin: 1rem;
	}

	.information-general {
		width: 100%;

		.my-information {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2 {
				margin-bottom: 0;
				text-transform: uppercase;
				font-size: 30px;
				text-align: center;
				color: #ffd662;
				font-family: "Alata", sans-serif;
			}

			span {
				font-size: 15px;
				font-family: "Quicksand", sans-serif;
				color: #ffd662;

				@include screenxl {
					font-size: 13px;
				}
			}

			p {
				font-size: 15px;
				width: 50%;
				text-align: center;
				font-family: "Quicksand", sans-serif;
				color: #ffd662;

				@include screenxl {
					font-size: 13px;
					width: 65%;
				}
			}

			.clickables {
				display: flex;
				margin: 20px;
				padding: 10px;
				border-radius: 5%;

				@include screenxl {
					margin: 5px;
				}

				button {
					width: 50px;
					height: 50px;
					margin: 0 20px;
					text-align: center;
					border-radius: 50%;
					cursor: pointer;
					transition: all 0.3s ease-in-out;

					&:nth-child(1) {
						color: rgb(50, 50, 50);
						background-color: rgb(232, 187, 111);
						border: none;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
					}
					&:nth-child(2) {
						color: rgb(255, 255, 255);
						background-color: rgb(164, 40, 27);
						border: NONE;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
					}
				}
			}
		}

		.solid {
			width: 95%;
			border-top: 1px solid rgb(232, 187, 111);
		}

		.official-data {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			h1 {
				text-align: center;
				font-family: "Quicksand", sans-serif;
				font-size: 15px;
				color: rgb(249, 152, 205);
			}

			span:nth-child(2) {
				font-family: "Alata", sans-serif;
				font-size: 15px;

				@include screenxl {
					font-size: 12px;
				}
			}
			span:nth-child(3) {
				font-size: 15px;
				color: rgb(138, 138, 138);
			}

			p {
				font-family: "Quicksand", sans-serif;
				color: rgb(232, 187, 111);
				font-size: 15px;
				text-align: justify;
				width: 80%;
				height: 25%;

				@include screenxl {
					font-size: 12px;
					width: 90%;
				}
			}

			.tips {
				margin-top: 1rem;
				display: flex;
				width: 70%;
				justify-content: space-between;
				align-items: baseline;

				@include screenxl {
					width: 100%;
				}

				.allies {
					width: 40%;
					display: flex;
					flex-direction: column;

					span {
						font-size: 15px;
						text-align: center;
						text-transform: uppercase;
						color: #009b77;

						@include screenxl {
							font-size: 11px;
						}
					}

					ul {
						list-style: lower-greek;
					}

					li {
						margin: 15px;
						font-size: 15px;
						color: rgb(232, 187, 111);

						@include screenxl {
							font-size: 11px;
							margin: 0;
						}
					}
				}

				.enemies {
					width: 40%;
					display: flex;
					flex-direction: column;

					span {
						font-size: 15px;
						text-transform: uppercase;
						text-align: center;
						color: #ff6f61;

						@include screenxl {
							font-size: 11px;
						}
					}
					ul {
						list-style: lower-greek;
					}
					li {
						margin: 15px;
						font-size: 15px;
						color: rgb(232, 187, 111);

						@include screenxl {
							font-size: 11px;
							margin: 0;
						}
					}
				}
			}
		}
	}

	// edit champ
	.edit-champion {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5%;
		height: 45%;
		box-shadow: 5px 1px 2px rgba(0, 0, 0, 0.283);
		flex-direction: column;
		width: 100%;

		h1 {
			color: #ffd662;
			font-family: "Alata", sans-serif;
		}

		input {
			margin-top: 20px;
			height: 50px;
			background: none;
			width: 50%;
			font-family: "Quicksand", sans-serif;
			font-size: 15px;
			outline: 0;
			border-width: 0 0 2px;
			border-color: #ffd662;
			color: white;
		}

		.action-buttons {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: center;
			button:nth-child(1) {
				cursor: pointer;
				background: linear-gradient(to right, #fff6de, #ffd662);
				font-family: "Alata", sans-serif;
				color: #0e273e;
				border: none;
				border-radius: 500px;
				box-shadow: 5px 5px 5px rgba(74, 74, 74, 0.681);
				font-size: 15px;
				margin: 2em 2em;
				width: 150px;
				height: 50px;
			}

			button {
				cursor: pointer;
				background: linear-gradient(to right, #52c3ed, #1c4e7b);
				color: #ffd662;
				border: none;
				border-radius: 500px;
				font-family: "Alata", sans-serif;
				width: 150px;
				height: 50px;
				margin: 2em 2em;
				font-size: 15px;
			}
		}
	}
}

img.champion-image {
	object-fit: cover;
	min-width: 30%;
	width: auto;

	@include screenxl {
		width: 50%;
	}
}
