@import "uiElements.scss";
@import "./responsive/breakpoints.scss";

body {
	background: linear-gradient(#343148, #2b5980);
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.responsive-blocker {
	display: none;
	@include screenl {
		display: block;
		top: 0;
		left: 0;
		background: linear-gradient(#8b4343, #405fcd);
		z-index: 200;
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			color: white;
			text-align: center;
			font-size: 25px;
		}
	}
}
.riot-logo {
	z-index: 1;
	position: absolute;
	width: 150px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.intro {
	width: 100%;
	.intro-half-one {
		width: 50%;
		height: 100%;

		background: rgb(175, 36, 36);
		background: linear-gradient(
			180deg,
			rgba(175, 36, 36, 1) 0%,
			rgba(182, 60, 112, 1) 50%,
			rgba(79, 30, 50, 1) 100%
		);
	}
	.intro-half-two {
		width: 50%;
		height: 100%;
		background: rgb(175, 36, 36);
		background: linear-gradient(
			180deg,
			rgba(175, 36, 36, 1) 0%,
			rgba(182, 60, 112, 1) 50%,
			rgba(79, 30, 50, 1) 100%
		);
	}
}
