.action-buttons {
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		font-size: 25px;
		cursor: pointer;
		margin: 20px;
	}

	// div:nth-child(1) {
	// 	background-color: red;
	// }
}

.card-page {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5em auto;

	.card-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		align-items: center;

		.single-champion {
			margin: 20px 20px;
			width: 200px;
			height: 200px;
			border: 3px solid #9c467a30;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.413);
			border-radius: 20px;
			transition: all 0.3s ease-in-out;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			&:hover {
				box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.413);
				scale: 1.1;
			}
		}
	}

	.long-card-section {
		display: flex;

		justify-content: center;
		align-items: center;

		.long-cards {
			height: 600px;
			width: 350px;
		}
	}
}
