.add-champion { 
     position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
     display: flex; 
     justify-content: center; 
     flex-direction: column; 
     width: 50%; 
     align-items: center; 
     height: 50%; 
      background: linear-gradient(rgb(75, 75, 220), rgb(134, 134, 228));
     border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.297);
	transition: all 0.3s ease-out;

     input { 
          margin-top: 20px; 
          height: 50px; 
          border-radius: 50px; 
          width: 50%; 
          font-family: 'arial';
          font-size: 25px; 
          border: none; 
     }

     button { 
          font-size: 25px; 
          margin-top: 50px; 
          width: 140px; 
          height: auto 60px; 
     }
     
}