.loader {
	color: #9c4679;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}
@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.my-information-styling {
	background-color: rgb(75, 75, 220);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.502);
	color: white;
	font-size: 20px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 10%;
}
.Backdrop {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
	z-index: 5;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 90%;
	height: 90%;
	background: linear-gradient(#f5c7d2, rgb(255, 255, 255));
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.297);
	transition: all 0.3s ease-out;
	display: flex;

	.close-modal {
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 5px;
		text-transform: lowercase;
		font-size: 45px;
		width: 25px;
		height: 5px;
	}

	.information-general {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.my-information {
			width: 40%;
			height: 40%;
			border-radius: 5%;
			background-color: WHITE;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span:nth-child(2) {
				@extend .my-information-styling;
			}
			span:nth-child(3) {
				@extend .my-information-styling;
			}
			span:nth-child(4) {
				@extend .my-information-styling;
			}
			span:nth-child(5) {
				@extend .my-information-styling;
			}

			.clickables {
				display: flex;
				margin: 20px;

				button {
					width: 50px;
					height: 50px;
					margin: 0 20px;
					text-align: center;
					border-radius: 50%;
					cursor: pointer;
					transition: all 0.3s ease-in-out;

					&:nth-child(1) {
						color: rgb(50, 50, 50);
						background-color: rgb(232, 187, 111);
						border: none;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
					}
					&:nth-child(2) {
						color: rgb(255, 255, 255);
						background-color: rgb(164, 40, 27);
						border: NONE;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.509);
					}

					&:hover {
						border: none;
						box-shadow: 5px 5px 5px rgba(94, 94, 94, 0.537);
					}
				}
			}
		}

		.official-data {
			width: 40%;
			height: 40%;
			border-radius: 5%;

			background: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: flex-end;

			h1 {
				text-align: center;
				color: rgb(140, 46, 98);
			}

			span:nth-child(2) {
				font-size: 35px;
			}
			span:nth-child(3) {
				font-size: 20px;
			}
			p {
				width: 85%;
				height: 25%;
			}

			.tips {
				width: 100%;
				margin: 0 20;
				display: flex;
				justify-content: center;
				align-items: baseline;

				.allies {
					width: 50%;
					span {
						font-size: 25px;
						text-align: center;
						color: rgb(51, 132, 51);
					}

					p {
						color: grey;
						width: 100%;
					}
				}

				.enemies {
					width: 50%;
					span {
						font-size: 25px;
						text-align: center;
						color: rgb(171, 50, 50);
					}
					p {
						color: grey;
						width: 100%;
					}
				}
			}
		}
	}

	img.champion-image {
		z-index: -1;
		object-fit: cover;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		opacity: 85%;
		border-end-end-radius: inherit;
		border-top-right-radius: inherit;

		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
